<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.8" />
  </startup>

  <system.serviceModel>
    <client>
      
      <endpoint name="NetTcpEndpoint"
                address="net.tcp://localhost:9999/PingService"
                binding="netTcpBinding"
                contract="WcfProject1.Common.IPingService" />

      <endpoint name="NamedPipeEndpoint"
                address="net.pipe://localhost/PingService"
                binding="netNamedPipeBinding"
                contract="WcfProject1.Common.IPingService" />
      
    </client>
    
    <!--<diagnostics>
      <messageLogging logEntireMessage="true"
                      logMessagesAtTransportLevel="true" />
    </diagnostics>-->

  </system.serviceModel>

  <!--<system.diagnostics>
    <trace autoflush="true" />
    <sources>

      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="XMLListener" />
        </listeners>
      </source>
      
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="XMLListener" />
        </listeners>
      </source>
      
    </sources>
    
    <sharedListeners>
      <add name="ConsoleListener"
           type="System.Diagnostics.ConsoleTraceListener" />
           
      <add name="XMLListener"
           initializeData="d:\server.svclog"
           type="System.Diagnostics.XmlWriterTraceListener"
           traceOutputOptions="DateTime,ProcessId,ThreadId,Callstack" />
           
      <add name="TextListener"
           initializeData="d:\server.txt"
           type="System.Diagnostics.TextWriterTraceListener"
           traceOutputOptions="DateTime,ProcessId,ThreadId,Callstack" />
    </sharedListeners>
  </system.diagnostics>-->

</configuration>