<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>sss</servlet-name>
        <servlet-class>com.example.lab12.SssServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sss</servlet-name>
        <url-pattern>/sss</url-pattern>
    </servlet-mapping>

<!--    &lt;!&ndash;  BASIC AUTH  &ndash;&gt;-->
<!--    <security-constraint>-->
<!--        <web-resource-collection>-->
<!--            <web-resource-name>Servlet Sss</web-resource-name>-->
<!--            <url-pattern>/sss</url-pattern>-->
<!--            <http-method>GET</http-method>-->
<!--            <http-method>POST</http-method>-->
<!--        </web-resource-collection>-->
<!--        <auth-constraint>-->
<!--            <role-name>Role52</role-name>-->
<!--        </auth-constraint>-->
<!--    </security-constraint>-->

<!--    <security-constraint>-->
<!--        <web-resource-collection>-->
<!--            <web-resource-name>Servlet Sss</web-resource-name>-->
<!--            <url-pattern>/index.jsp</url-pattern>-->
<!--            <http-method>GET</http-method>-->
<!--            <http-method>POST</http-method>-->
<!--        </web-resource-collection>-->
<!--        <auth-constraint>-->
<!--            <role-name>Role52</role-name>-->
<!--        </auth-constraint>-->
<!--    </security-constraint>-->

<!--    <login-config>-->
<!--        <auth-method>BASIC</auth-method>-->
<!--    </login-config>-->

<!--    <security-role>-->
<!--        <role-name>Role52</role-name>-->
<!--    </security-role>-->

    <!--  FORMS AUTH  -->
            <security-constraint>
                <web-resource-collection>
                    <web-resource-name>JSP page</web-resource-name>
                    <url-pattern>/index.jsp</url-pattern>
                    <http-method>GET</http-method>
                    <http-method>POST</http-method>
                </web-resource-collection>
                <auth-constraint>
                    <role-name>Role52</role-name>
                </auth-constraint>
            </security-constraint>

            <login-config>
                <auth-method>FORM</auth-method>
                <form-login-config>
                    <form-login-page>/login.jsp</form-login-page>
                    <form-error-page>/error.jsp</form-error-page>
                </form-login-config>
            </login-config>

            <security-role>
                <role-name>Role52</role-name>
            </security-role>
</web-app>