<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.8" />
  </startup>

  <system.serviceModel>
    <services>
      <service name="WcfProject1.Service.PingService">
        
        <endpoint address="PingService"
                  binding="netTcpBinding"
                  contract="WcfProject1.Common.IPingService" />

        <endpoint address="PingService"
                  binding="netNamedPipeBinding"
                  contract="WcfProject1.Common.IPingService" />
        
        <host>
          <baseAddresses>
            
            <add baseAddress="net.tcp://localhost:9999" />            
            <add baseAddress="net.pipe://localhost" />
            
          </baseAddresses>
        </host>

      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- This should be false in production systems -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <!--<diagnostics>
      <messageLogging logEntireMessage="true"
                      logMessagesAtTransportLevel="true" />
    </diagnostics>-->

  </system.serviceModel>

  <!--<system.diagnostics>
    <trace autoflush="true" />
    <sources>
    
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="XMLListener" />
        </listeners>
      </source>
      
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="XMLListener" />
        </listeners>
      </source>
      
    </sources>
    
    <sharedListeners>
      <add name="ConsoleListener"
           type="System.Diagnostics.ConsoleTraceListener" />
           
      <add name="XMLListener"
           initializeData="d:\server.svclog"
           type="System.Diagnostics.XmlWriterTraceListener"
           traceOutputOptions="DateTime,ProcessId,ThreadId,Callstack" />
           
      <add name="TextListener"
           initializeData="d:\server.txt"
           type="System.Diagnostics.TextWriterTraceListener"
           traceOutputOptions="DateTime,ProcessId,ThreadId,Callstack" />
    </sharedListeners>
  </system.diagnostics>-->

</configuration>